body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-image: url('./img/travel_0005.jpg');
    font-family: 'Open Sans', sans-serif;
}
.search-box, .icon-info{
    display: flex;
    align-items: center;
}
input{
    height: 2em;
    width: 100%;
    outline: none;
    border-radius: 22px;
    border: 1px solid black;
    padding-left: 10px;
    font: inherit;
}
.icon{
    height: 22px;
    width: 22px;
    margin: 0px 0px 0px 10px;
    display: hidden;
}
.card{
    background: #000000d0;
    border-radius: 30px;
    padding: 50px;
    margin: 5px;
    max-width: 420px;
    width: 100%;
    height: fit-content;
    color: aliceblue;
}
.background-img{
    height: 100vh;
    width: 100vw;
}
.weather.loading{
    visibility:hidden;
}